/*
        SPACING SYSTEM (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

        FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
        */
/* 
        MAIN COLOR:
        GRE COLOR: 
        */
/* Utilities */
/* Thêm các kích thước mặc định cho phần Digital Project*/
.container-project {
  /* max-width: 1170px;
        margin: 0 auto; */
  padding: 16px 16px 32px 16px;
  background-color: #1448d8;
  box-shadow: 0px 0px 5px 8px #ced4da;
}

/* kích thước Icon */
i.fa {
  font-size: 24px;
}

/* Thiết kế phần hiển thị các số của dư án tham gia */
.number {
  font-size: 24px;
  border: 1px solid black;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b197fc;
  color: #fff;
  border-radius: 50%;
}

/* Layout các phần */
.flex {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: start;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

/* Thêm các đường viền các phần */
.border-bottom-1 {
  border-bottom: 1px solid #dee2e6;
}
.border-bottom-2 {
  border-bottom: 1px solid #ced4da;
}
.border-bottom-3 {
  padding-left: 10px;
  border-bottom: 2px dotted #99e9f2;
}

/* Màu nền các khối */
.bg-2 {
  background-color: #e7f5ff;
}

/* Margin */
.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 1.5rem;
}

.mx-3 {
  margin: 0 2rem;
}

.mx-4 {
  margin: 0 3rem;
}

.mx-5 {
  margin: 0 4rem;
}

.my-1 {
  margin: 1rem;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

/* Padding */
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 1.5rem;
}

.px-3 {
  padding: 0 2rem;
}

.px-4 {
  padding: 0 3rem;
}

.px-5 {
  padding: 0 4rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}
